@import url("https://fonts.googleapis.com/css?family=Roboto:900&display=swap");

html,
body {
  background-color: #ecf0f1;
  margin: 0;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
